$start: #e9f84b;
$continue: #6ef877;
$stop: #e04949;

$best-story: #6ef877;
$most-annoying-story: #ef7f33;
$most-technically-complex-story: #8948f1;
$most-exciting-story: #e9f84b;

$primary-blue: #3f51b5;

$item-background: #e9ebe9e1;

